<template>
  <div class="hello">
    <div id="example-3">

      <div class="row offset-4">
        <div class="col-auto">
          <input type="text" class="form-control" v-model="compareData.word" id="inputword" placeholder="Palabra 1">
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" v-model="compareData.wordCompare" id="inputwordCompare" placeholder="Palabra2">
        </div>
        <div class="col-auto" style="margin-top:20px">
          <button v-on:click="di()" class="btn btn-primary mb-3">Comparar</button>
        </div>
      </div>

    </div>
    <div style="margin-top:20px" class="container">
      <table class="table" border="1">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Palabra</th>
          <th scope="col">Palabra comparada</th>
          <th scope="col">Anagrama</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in wordArr" :key="index">
          <td>{{item.id}}</td>
          <td>{{item.word}}</td>
          <td>{{item.word_compare}}</td>
          <td v-if="item.anagrams == 0">X</td>
          <td v-if="item.anagrams == 1">V</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import global_ from '../components/global'

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {
    return {
      compareData: {
        word: '',
        wordCompare: '',
        anagrams: 0,
      },
      wordArr: [],
    }
  },
  mounted() {
    this.getWords();
  },
  methods: {
    di: function () {
      let word = this.compareData.word.toLowerCase();
      let wordCompare = this.compareData.wordCompare.toLowerCase();
      let anagrams = this.compareData.anagrams;
      word = word.split("");
      wordCompare = wordCompare.split("");
      word = word.sort();
      wordCompare = wordCompare.sort();
      word = word.join("");
      wordCompare = wordCompare.join("");
      if(word === wordCompare){
        this.compareData.anagrams = 1;
      }
      let data = {
        word: this.compareData.word.toLowerCase(),
        word_compare : this.compareData.wordCompare.toLowerCase(),
        anagrams : anagrams
      };
      console.log(data);
      axios
          .post(global_.URL_LARAVEL + '/api/resources/work/', data)
          .then(response => {
              this.info = response;
              this.getWords();
              })
    },
    getWords: function (){
      axios
          .get(global_.URL_LARAVEL + '/api/resources/work')
          .then(response => {
            this.wordArr = response.data
          })
          .catch(function (error) {
            console.log(error);
          });
    },
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.container {
  text-align:center;
}
.container table {
  margin-left: auto;
  margin-right: auto;
}
</style>
